$std-font-size: 18px;
$std-font-family: 'Montserrat', sans-serif;

$std-margin: 5px;
$std-padding: 5px;
$std-chcekbox-height-and-width: 14px;
$std-border-width: 2px;
$std-border-radius: 3px;
$button-margin-and-padding: 7px;
$std-button-height-and-width: 30px;

$color-greenery: #373f27;
$color-stem: #636b46;
$color-gold: #cda34f;
$color-daisy: #e9e7da;
